* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rgb(240, 234, 234);


}

img {
    opacity: 1;
    width: 100%;
    background-color: black;
    min-width: 1916px;
    position: absolute;
    top: -5%;


}

.todo {
    position: absolute;
    top: 25%;
    left: 30%;
    color: white;
    font-family: 'Righteous';
}

.search {
    position: relative;
    width: 600px;
    height: 70px;
    top: 220px;
    left: 500px;
    left: 680px;
    min-width: 600px;
    min-height: 70px;
    background-color: white;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px rgb(38, 38, 38);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


}