* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rgb(240, 234, 234);


}

img {
    opacity: 1;
    /* width: 100%; */
    background-color: black;
    /* min-width: 1916px; */
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%) scale(1.01);


}

.todo {
    position: absolute;
    top: 25%;
    left: 30%;
    color: white;
    font-family: 'Righteous';
}

.wrapper {
    position: relative;
    background-color: rgba(255, 0, 0, 0.209);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 200px;
    top: 220px;
    height: 700px;

}

.search {
    position: absolute;
    width: 600px;
    height: 70px;
    min-width: 600px;
    min-height: 70px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px rgb(38, 38, 38);
}